@model IEnumerable<Prototype.Models.CandidateProfile>

@foreach (var candidate in Model)
{


    <div class="container">
        <div class="row">
            <div class="col-sm-8"><h1>NAME</h1></div>
            <div class="col-sm-4">col-sm-4</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h3>Title</h3>
                <h3>Level</h3>
                <h3>Charge</h3>


            </div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm"><h2>4/5</h2></div>
        </div>
    </div>





    
   







}