@model Prototype.Models.Candidate

<div class="text buffer">
    <h1 class="heading"> Create</h1>

    <h1>Add Your Company Details and Attract Quality Freelancers</h1>

    <p class="buffer text">We haven't got any recruitment details associated with your account, add them here to continue recruiting!</p>

    <form asp-action="Create" asp-controller="Candidate" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6">
                <h4>Create a new account.</h4>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="JobTitle">Job Title</label>
                    <select asp-for="JobTitle" asp-items="Html.GetEnumSelectList<JobTitle>()" class="form-control"></select>
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="IsAvailable" value="True" type="hidden" class="control-label" />
                    <label asp-for="AvailableFrom"></label>
                    <input asp-for="AvailableFrom" type="date" class="form-control" id="exampleFormControlTextarea1">
                    <span asp-validation-for="AvailableFrom" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create Profile</button>
            </div>

            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Skill"></label>
                    <input asp-for="Skill" class="form-control" />
                    <span asp-validation-for="Skill" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle">Job Title</label>
                        <select asp-for="LevelEnum" asp-items="Html.GetEnumSelectList<Level>()" class="form-control"></select>
                        <span asp-validation-for="LevelEnum" class="text-danger"></span>
                    
                </div>
                <div class="form-group">
                    <label asp-for="Rate"></label>
                    <input asp-for="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
            </div>


        </div>




    </form>

</div>