@model Prototype.Models.Job

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript">
    //javacript to restrict form for only dates in future 
    var now = new Date(),
        // minimum date the user can choose, in this case now and in the future
        minDate = now.toISOString().substring(0, 10);
    
    $('#startDate').attr('min', minDate);


    </script>
<div class="container text buffer">
    <h3 class="heading"> Add Job</h3>


    <form method="post" asp-action="Create">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="JobTitleEnum">Job Title</label>
            <select required asp-for="JobTitleEnum" asp-items="Html.GetEnumSelectList<JobTitle>()" class="form-control"></select>
            <span asp-validation-for="@Model.JobTitleEnum" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label">Start Date</label>
            <input id="startDate" asp-for="StartDate" type="date" class="form-control">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Skills">Skills</label>

            @Html.ListBoxFor(m => m.SkillIds, (SelectList)ViewBag.Skills, htmlAttributes: new { @class = "form-control" })
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LowerRate" class="form-label">Rate From £:</label>
            <input asp-for="LowerRate" type="text" class="form-control">
            <span asp-validation-for="LowerRate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UpperRate" class="form-label">Rate To £:</label>
            <input asp-for="UpperRate" type="text" class="form-control">
            <span asp-validation-for="UpperRate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Duration" class="form-label">Duration (Weeks):</label>
            <input asp-for="Duration" type="text" class="form-control">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="JobDescription" class="form-label">Job Description</label>
            <textarea asp-for="JobDescription" type="Text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="LevelEnum">Level Required</label>
            <select asp-for="LevelEnum" asp-items="Html.GetEnumSelectList<Level>()" class="form-control"></select>
            <span asp-validation-for="LevelEnum" class="text-danger"></span>

        </div>

    


        <button type="submit" class="btn btn-primary">Create</button>
    </form>

</div>

@section Scripts{
    @*code below for validation client side using javascript*@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


