



<div class=" marginTop text">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="heading">Become part of the workplace revolution!</h2>
                <hr class="divider divider-light" />
                <p class=" mb-4">The world of work is changing and moving faster than ever before. RecruitAPP can help connect you to right people everywhere from anywhere!</p>

              
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Get Started!</a>
            </div>
        </div>
    </div>


    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0"></h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 "></i></div>
                    <h3 class="h4 mb-2"><i class="fas fa-users"></i> Build you team</h3>
                    <p class="text-muted mb-0">Connect to skilled remote workers who are ready for their next contract.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 "></i></div>
                    <h3 class="h4 mb-2"><i class="far fa-eye"></i> Full Transparency</h3>
                    <p class="text-muted mb-0">Fully vetted employers and candidates with our mutual rating metrics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 "></i></div>
                    <h3 class="h4 mb-2"><i class="fas fa-search-dollar"></i> Find A New Gig</h3>
                    <p class="text-muted mb-0">Choose from the top tech jobs available on the market!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 "></i></div>
                    <h3 class="h4 mb-2"><i class="fas fa-chart-line"></i> Track the Trends</h3>
                    <p class="text-muted mb-0">Stay up to date with pay rates and who's in demand.</p>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>




