`@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RecruitAPP Prototype</h1>
    <p>Connect with freelancers or find your next contract here.</p>
</div>

<div class="container buffer text-center ">

    <div class="row ">
        <div class="col-sm"></div>
        <div class="col-sm">
            <a asp-controller="Home" asp-action="EmployerLogin"><button type="button" class="btn btn-primary">Employer</button></a>
            <div class="row buffer"></div>
        </div>
        <div class="col-sm"><button type="button" class="btn btn-primary ">Freelancer</button></div>
        <div class="col-sm"></div>
    </div>

    


</div>