
<div class=" container text buffer">
    <h1>Your Employer Hub</h1>
    <div class="dashboard row border">
        <div class=" col-sm "> 
        <h3 class=" heading">Your Live Jobs</h3>
        </div>




        <div class=" border col-sm">
            <h3 class=" heading">Your Likes</h3>  
        </div>
    </div><!--End of row-->


    <div class="dashboard row border">
        <div class=" col-sm"> 
        <h3 class=" heading">Your Contracts</h3>
        </div>
        <div class=" border col-sm"> 
        <h3 class=" heading">Your Messages</h3> 
        </div>
    </div><!--end of row -->

</div>
