<script type="text/javascript">

    //TODO: AJAX for Likes / AJAX for reviews / AJAx for Contracts 

    $(document).ready(function () {

        // below ajax gets Jobs connected by user Id and displays them on the page 
        $.ajax({
            url: '/Job/GetJobsByUserID',
            dataType: "Json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            //this needs changed whe table fully normalised
           
            success: function (data) {

               // loops through values returned in json format by above url
                $.each(data, function (key, val) {
                   //need to add validation that not empty here
                   //job id is jobId

                    //action link use to generate url string 
                    var url = '@Url.Action("Edit", "Job", new { id = "replaceToken" })';
                    url = url.replace("replaceToken", val.jobId); 
                    //bleow appende content to div with id passed as arg
                    $("#jobsoutput").append(
                        
                        '<div class"card ">' +
                        '<div class="card-body">' +
                       
                        
                        //change below if needs title normalised 
                     
                        '<a href="' + url + '"><h5 class="card-title">' + val.jobTitle + '</h5></a>' +
                        "<h5 class='card-text'>Duration:" + val.duration + ' weeks</h5>' +
                        '<p class="card-text">Start Date: ' + val.startDate.substring(0, 10)+'</p>'+

                    // <a href="#" class="btn btn-primary">Go somewhere</a>
                    '</div>'+
                       ' </div>'
                    );//end of .append
                });//end of for loop 
                
            }, //end of success function 
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax

    }); //end document.load


</script>















<div class="  text buffer">
    <h1>Your Employer Hub </h1>




    <div class="dashboard row ">
       

        <div class="  col-sm">
            <div class="addJob">
                <h3 class=" heading">Your Live Jobs  </h3>
                <a asp-controller="Job" asp-action="Create"> <button class=" addJob">Add Job</button></a>
            </div>


            <div class=" scrollgrid border ">
                <div class="container buffer">
                   
                    <!--ajax call to get jobs by user id content appened to this div -->
                    <div id="jobsoutput"></div>
                </div>
                
               
                

                
            </div>
        </div>




        <div class="  col-sm">
            <h3 class=" heading">Your Likes</h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

    <!--ajax call to get jobs by user id content appened to this div -->
    <div class="card">
        <div class="card-body">
            CandidateName likes your company
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            CandidateName likes your this job
        </div>
    </div>



    <div id="likesoutput"></div>
</div>
            </div>
        </div>
    </div><!--End of row-->

    <div class="dashboard row ">
       

        <div class="  col-sm">
            <h3 class=" heading">Your Contracts</h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

                    <!--ajax call to get jobs by user id content appened to this div -->
                    <div id="contractsoutput"></div>
                </div>
            </div>
        </div>




        <div class="  col-sm">
            <h3 class=" heading">Your Messages</h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

                    <!--ajax call to get jobs by user id content appened to this div -->
                    <div id="messagesoutput"></div>
                </div>
            </div>
        </div>
    </div>


</div>
